<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jewesy Manager {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.class" rel="stylesheet">
        {% stylesheets '@PonyFJewesyCoreBundle/Resources/public/css/core-default-index.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
		{% block stylesheets %}
        {% endblock %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    </head>

    <body>

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('pony_f_jewesy_core_homepage')}}">Jewesy-Manager</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Social<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><del>Tchat</del></a></li>
                                <li><a href="javascript:void(0)"><del>Timeline</del></a></li>
                                <li><a href="javascript:void(0)"><del>Forum</del></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0)"><del>Files</del></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Team<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><del>Ideas Box</del></a></li>
                                <li><a href="javascript:void(0)"><del>Dashbord</del></a></li>
                                <li><a href="javascript:void(0)"><del>Bug Tracker</del></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><del>SMS</del></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Games<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><del>Tron</del></a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input class="form-control col-lg-8" placeholder="Search" type="text">
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                              {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                              <a href="{{ path('fos_user_security_logout') }}">
                                  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                              </a>
                          {% else %}
                              <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                          {% endif %}
                        </li>
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><del>Action</del></a></li>
                                <li><a href="javascript:void(0)"><del>Another action</del></a></li>
                                <li><a href="javascript:void(0)"><del>Something else here</del></a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)"><del>Separated link</del></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
			</div>
		</nav>

    	<div class="container">
    		<div class="alert alert-danger" role="alert">
    			Site Under Construction
    		</div>
		</div>

        {% block body %}{% endblock %}

    	{% block javascripts %}
   		{% endblock %}

	</body>
</html>
